
.logo {
    width: 90px;
    height: 60px;
    margin-left:120px;
    

}
.nav-footer {
    background: linear-gradient(90deg,rgb(27,55,67),rgb(29,82,113));
    
    align-items: center;
    justify-content: space-between;

    
    
}
.nav , ul ,li{
    margin-left:75px;
    margin-top: 20px;
}

#cardContainer{
    display:flexbox;
    align-items: center;
}

 
#navBar{
    text-align: right;
}
#separador{
    text-align:center;
    font-size:20px;
}
#container{
  
    justify-content:flex;
    text-align:right;
    margin-left:200px;
    
    
    
}
#compraverde{
    color:green;
    margin-right:120px;
}
#htitulo{
    font-size:35px;
}
